@import '../../partial';
.login{
    @include flex(column,center,center,0,nowrap);
    height: 100vh;

    & button{
        color: black;
        padding: 5px 15px;
        box-shadow: 0 0 3px 2px white;
        margin-top: 20px;
        cursor: pointer;
    }
}

#guestBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #04152D;
    color: white;
    cursor: pointer;
}