@import '../../partial';

.searchHeading {
    text-align: center;
    text-transform: uppercase;
    color: yellow;
    margin-top: 15px;
}

.searchPage {
    @include flex(row, center, center, 20px, wrap);
    padding: 20px;
}

.content {
    @include flex(row, center, center, 20px, wrap);
    padding: 20px;
}

.card {
    height: 330px;
    width: 230px;
    position: relative;
    @include flex(column, flex-start, normal, 8px, nowrap);

    .searchImg {
        height: 195px;
        width: 130px;
    }

    .searchIMDB {
        width: 40px;
        @include pos(absolute, 0, 90, null, 2%, 0, 0);
        text-align: center;
        @include border(white, rgb(0, 0, 0), 2px, white, 6px);

        @media screen and (max-width : '700px') {
            & {
                width: 40px;
                left: 3%;
                top: 1%;
            }
        }
    }

    @media screen and (max-width : '700px') {
        & {
            height: 300px;
            width: 130px;
            overflow: hidden;
        }
    }
}