* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
  }
  
  body {
    background-color: var(--black);
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .loadingBar {
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  
  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    --black: #04152d;
    --pink: #da2f68;
    --orange: #f89e00;
    --gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
    --opacity: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
  }
  
  .skeleton {
    position: relative;
    overflow: hidden;
    background-color: #0a2955;
  
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(90deg,
          rgba(#193763, 0) 0,
          rgba(#193763, 0.2) 20%,
          rgba(#193763, 0.5) 60%,
          rgba(#193763, 0));
      animation: shimmer 2s infinite;
      content: "";
    }
  
    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }
  
  .loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    animation: rotateIcon .5s linear infinite;
  }
  
  @keyframes rotateIcon {
    0% {
      transform: rotate(180deg);
    }
  
    100% {
      transform: rotate(360deg);
  
    }
  }